#!/bin/bash
#
# This is a job script that is executed by Sky Port on a compute node.
# The script is used to start JupyterHub user server.

#SWM relocatable
#SWM flavor {{ job_info["flavor"] }}
#SWM ports {{ job_info["ports"] }}
#SWM submission-address {{ job_info["submission_address"] }}
#SWM account {{ job_info["account"] }}
#SWM cloud-image {{ job_info["cloud_image_name"] }}
#SWM container-image {{ job_info["container_registry"] }}/{{ job_info["container_image_name"] }}:{{ job_info["container_image_tag"] }}
#SWM input-files {{ " ".join(job_info["input_files"]) }}
#SWM output-files {{ " ".join(job_info["output_files"]) }}
#SWM storage {{ job_info["storage"] }}

export HOME=$(pwd)
export XDG_CACHE_HOME=${HOME}/.cache/
export JUPYTERHUB_API_TOKEN={{ job_info["jupyterhub_api_token"] }}
export JUPYTERHUB_CLIENT_ID={{ job_info["jupyterhub_client_id"] }}
export JUPYTERHUB_API_URL={{ job_info["hub_url"] }}
export JUPYTER_RUNTIME_DIR=/tmp
export JUPYTERHUB_USER=$USER
export JUPYTERHUB_SERVICE_PREFIX=/user/$USER
export JUPYTERHUB_SERVICE_URL=http://0.0.0.0:{{ job_info["server_port"] }}
export JUPYTERHUB_OAUTH_ACCESS_SCOPES="[\"access:servers!server=$USER/\", \"access:servers!user=$USER\"]"
export NVIDIA_VISIBLE_DEVICES=all

echo Start single user jupyter server
jupyterhub-singleuser --debug
